{% extends 'base_holiday.html.twig' %}

{% block title %}Hello HolidayController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! </h1>

    <ul>
        {% for holiday in holidayList %}

            <li>
                <a class="btn btn-primary" href="{{path('holiday_show', {'id' : holiday.id })}}"> show </a>
                <a class="btn btn-success" href="{{path('holiday_edit', {'id' : holiday.id })}}"> edit </a>

                mes vacances {{ holiday.location | upper }} dureront {{ holiday.duration }} jours et
                {% if holiday.peopleCount > 1 %}
                    nous serons {{ holiday.peopleCount }}
                {% else %}
                    je serai tout seul
                {% endif %}
            </li>

        {% endfor %}
    </ul>

</div>
{% endblock %}
