{% extends 'base_holiday.html.twig' %}

{% block title %} vacances {{ holiday.location}} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Vacances</h1>

    <p>
        youhouuu je pars à {{holiday.location}} {{holiday.duration}} jours avec {{holiday.peopleCount - 1}} personnes !
    </p>

    <a class="btn btn-primary" href="{{path('holiday_index')}}">&lt; home</a>

    <a class="btn btn-success" href="{{path('holiday_edit', {'id' : holiday.id })}}">edit</a>



</div>
{% endblock %}
